@import 'variables';
@mixin background {
    background-position: center;
    background-size: cover;
}
@mixin flex($center-1, $center-2) {
    display: flex;
    justify-content: $center-1;
    align-items: $center-2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 15px;
}

header {
    position: relative;
    background: $bg-header-mobile;
    @include background;
    height: 80vh;
}

@media screen and (min-width: 800px) {
    header {
        background: $bg-header-desktop;
        @include background;
    }
}

.nav {
    text-transform: uppercase;
    font-family: $ff-josefin-sans;
    color: $clr-white;

    #{&}__links__desktop {
        display: none;
    }

    @media screen and (min-width: 1000px) {
        .nav__links__desktop {
            display: inline-block;
            position: absolute;
            right: 0;
            padding: 2.35rem clamp(4rem, calc(5rem + 1vw), 9rem) 0 0;
            font-family: $ff-alata;
            text-transform: capitalize;

            .links-wrapper-desktop {
                display: flex;
                flex-direction: row;
                column-gap: 3rem;
                
                li {
                    list-style-type: none;
                    
                    &::after {
                        content: '';
                        width: 40%;
                        height: 0.1rem;
                        display: block;
                        transition: 0.5s;
                        margin: auto;
                        margin-top: 0.3rem;
                    }
                    
                    &:hover::after {
                        background-color: $clr-white;
                    }

                    a {
                        font-size: clamp(1rem, calc(0.9rem + 1vw), 1.7rem);
                        text-decoration: none;
                        color: $clr-white;
                    }
                }
            }
        }
    }

    #{&}__nav {
        width: 100%;
        max-height: 69.5px;
    }

    #{&}__logo {
        // z-index: 1;
        // position: absolute;
        // left: 0;
        display: inline-block;
        padding: 2rem 0 0 clamp(0.1rem, calc(0.1rem + 5vw), 8rem);
    }

    #{&}__bckg {
        position: absolute;
        width: 100%;
        height: 69.5px;
    } 

    #{&}__checkbox {
        display: none;

        &:checked ~ .nav__intro {
            display: none;
        }    

        &:checked ~ .nav__links {
            display: flex;
            background-color: $clr-black;

        }

        &:checked ~ .nav__nav {
            background: $clr-black;
        }
    }


    #{&}__toogle {
        position: absolute;
        right: 0;
        cursor: pointer;
        padding: 2.6rem clamp(0.1rem, calc(0.1rem + 5vw), 8rem) 0 0;

        .close {
            display: none;
        }
    }

    @media screen and (min-width: 1000px) {
        .nav__toogle {
            display: none;
        }
    }
    

    #{&}__links {
        display: none;
        padding: 0 clamp(0.1rem, calc(0.1rem + 5vw), 8rem);
        width: 100%;
        height: calc(80vh - 69.5px);


        .links-wrapper {
            display: flex;
            justify-content: center;
            flex-direction: column;
            row-gap: 1rem;

            li {
                list-style-type: none;
    
                a {
                    font-size: 1.4rem;
                    font-size: clamp(1rem, calc(0.6rem + 2vw), 1.7rem);
                    text-decoration: none;
                    color: $clr-white;
                }
            }
        }
    }
    
    

    &__intro {
        padding: 0 clamp(0.1rem, calc(0.1rem + 5vw), 8rem);

        .intro {
            display: flex;
            align-items: center;
            height: calc(80vh - 69.5px);

            &__wrapper {
                width: 100%;
                border: 1px solid $clr-white;
            }
            
            &__text {
                letter-spacing: 0.1rem;
                padding: clamp(1rem, calc(0.6rem + 1.5vw), 2rem) clamp(1rem, calc(0.6rem + 3vw), 3rem);
                font-size: clamp(0.5rem, calc(1.5rem + 3vw), 2.5rem);
            }

            @media (max-height: 28.125rem) and (orientation: landscape) {
                &__text {
                    font-size: 1.5rem;
                }
            }
        }
    }

    @media screen and (min-width: 1200px) {
        #that {
            display: none;
        }

        .intro__wrapper {
            width: 50%;

            .intro__text {
                font-size: 60px;
            }
        }
    }
}

main {
    padding: 4.5rem clamp(0.1rem, calc(0.1rem + 5vw), 8rem);
    font-style: $ff-josefin-sans;
    font-style: $ff-alata;

    .interactiveImg {
        background-image: ($img-vr-mobile);
        @include background;
        width: 100%;
        height: 12rem;
        margin-bottom: 2.5rem;
    }

    .interactiveVr {
        text-align: center;

        h1 {
            text-transform: uppercase;
            font-family: $ff-josefin-sans;
            color: $clr-black;
        }

        p {
            font-family: $ff-alata;
            color: $clr-gray;
            margin-top: 1.5rem;

            br {
                display: none;
            }

            @media screen and (min-width: 900px) {
                br {
                    display: initial;
                }
            }
        }
    }

    @media screen and (min-width: 900px) {
        .interactiveImg {
            background-image: $img-vr-desktop;
            aspect-ratio: 1.462 / 1;
            width: 60%;
            height: auto;
        }
    
        .interactiveVr {
            height: auto;
            width: auto;
            background-color: $clr-white;
            text-align: left;
            padding: inherit;
            z-index: 1;
            position: absolute;
            bottom: 2.7rem;
            right: 0;

            h1 {
                font-size: clamp(1rem, calc(1.9rem + 1vw), 4rem);
            }
        }
    }

    @media screen and (min-width: 1150px) {
        .interactiveVr {
            padding: 4.5rem 0 4.5rem clamp(0.1rem, calc(0.1rem + 5vw), 8rem);
            right: clamp(5rem, calc(6rem + 5vw), 50rem);
        }
    }

    @media screen and (min-width: 1350px) {
        .interactiveVr {
            right: clamp(5rem, calc(6rem + 8vw), 50rem);
        }
    }

    @media screen and (min-width: 1550px) {
        .interactiveVr {
            right: clamp(5rem, calc(6rem + 11vw), 50rem);
        }
    }
    
    @media screen and (min-width: 1750px) {
        .interactiveVr {
            right: clamp(5rem, calc(6rem + 15vw), 50rem);
        }
    }
}

@media screen and (min-width: 900px) {
    main {
        position: relative;
    }
}

aside {
    padding: 0 clamp(0.1rem, calc(0.1rem + 5vw), 8rem) 5.5rem clamp(0.1rem, calc(0.1rem + 5vw), 8rem);
    font-family: $ff-josefin-sans;

    .ourCreations {
        width: 100%;
        text-align: center;
        font-size: clamp(1rem, calc(1.9rem + 1vw), 4rem);
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, min-max(1fr, auto));
        row-gap: 1.5rem;
        grid-template-areas: "a a a a"
                             "b b b b"
                             "c c c c"
                             "d d d d"
                             "e e e e"
                             "f f f f"
                             "v v v v"
                             "n n n n";
        

        &__deepEarth {
            display: flex;
            align-items: flex-end;
            padding: 1rem;
            background-image: $img-deepearth-mobile;
            background-color: linear-gradient($clr-black, $clr-white);
            @include background;
            grid-area: a;
        }

        &__nightArcade {
            display: flex;
            align-items: flex-end;
            padding: 1rem;
            background-image: $img-nightarcade-mobile;
            @include background;
            grid-area: b;
        }
        
        &__soccerTeamVr{
            display: flex;
            align-items: flex-end;
            padding: 1rem;
            background-image: $img-soccerteamvr-mobile;
            @include background;
            grid-area: c;
        }
        
        &__theGrid {
            display: flex;
            align-items: flex-end;
            padding: 1rem;
            background-image: $img-thegrid-mobile;
            @include background;
            grid-area: d;
        }    

        &__fromUpAboveVr {
            display: flex;
            align-items: flex-end;
            padding: 1rem;
            background-image: $img-fromupabovevr-mobile;
            @include background;
            grid-area: e;
        }    
            
        &__pocketBorealis {
            display: flex;
            align-items: flex-end;
            padding: 1rem;
            background-image: $img-pocketborealis-mobile;
            @include background;
            grid-area: f;
        }    
            
        &__theCuriosity {
            display: flex;
            align-items: flex-end;
            padding: 1rem;
            background-image: $img-thecuriosity-mobile;
            @include background;
            grid-area: v;
        }    
            
        &__makeItFisheye {
            display: flex;
            align-items: flex-end;
            padding: 1rem;
            background-image: $img-makeitfisheye-mobile;
            @include background;
            grid-area: n;
        }  
        
        
            
        
        .gridText {
            color: $clr-white;
            font-family: $ff-josefin-sans;
            font-size: 1.5rem;
            text-transform: uppercase;
                
        }
        
        &__seeAll {
            display: flex;
            justify-content: center;
            margin-top: 1.7rem;
            

            div {
                width: fit-content;
                color: $clr-black;
                font-family: $ff-alata  ;
                font-size: clamp(0.5rem, calc(0.8rem + 1vw), 2.5rem);
                text-transform: uppercase;
                letter-spacing: 5px;
                border: 2px solid $clr-black;
                padding: 0.5rem 2.2rem;
            }

            &:hover div {
                cursor: pointer;
                background: $clr-black;
                color: $clr-white;
            }
        }
        &__seeAll-1 {
            display: none;
            

            div {
                width: fit-content;
                color: $clr-black;
                font-family: $ff-alata  ;
                font-size: clamp(0.5rem, calc(0.8rem + 1vw), 2.5rem);
                text-transform: uppercase;
                letter-spacing: 5px;
                border: 2px solid $clr-black;
                padding: 0.5rem 2.2rem;
            }

            &:hover div {
                cursor: pointer;
                background: $clr-black;
                color: $clr-white;
            }
        }
    }

    @media screen and (min-width: 900px) {
        .grid__seeAll {
            display: none;
        }

        .ourCreations {
            display: inline-block;
            width: fit-content;
            text-align: start;
            margin-bottom: 5rem;
        }

        .grid__seeAll-1 {
            display: inline-block;
            position: absolute;
            right: 0;
            padding-right: clamp(0.1rem, calc(0.1rem + 5vw), 8rem);
        }
    }

    @media screen and (min-width: 1100px) {
        .grid {
            gap: 1.5rem;
            grid-template-areas: "a b c d"
                                 "a b c d"
                                 "a b c d"
                                 "a b c d"
                                 "e f v n"
                                 "e f v n"
                                 "e f v n"
                                 "e f v n";
            
    
            &__deepEarth {
                height: auto;
                background-image: $img-deepearth-desktop;
                grid-area: a;
                aspect-ratio: 1 / 1.7578;
                padding: 0 0 clamp(0.1rem, calc(0.1rem + 3vw), 10rem) clamp(0.1rem, calc(0.1rem + 2vw), 8rem);

                &:hover {
                    opacity: 0.3;
                    background-color: #fff;
                }
            }
    
            &__nightArcade {
                background-image: $img-nightarcade-desktop;
                grid-area: b;
                aspect-ratio: 1 / 1.7578;
                padding: 0 0 clamp(0.1rem, calc(0.1rem + 3vw), 10rem) clamp(0.1rem, calc(0.1rem + 2vw), 8rem);

                &:hover {
                    opacity: 0.3;
                    background-color: #fff;
                }

                &:hover .gridText {
                    color: $clr-black
                }
            }
            
            &__soccerTeamVr{
                background-image: $img-soccerteamvr-desktop;
                grid-area: c;
                aspect-ratio: 1 / 1.7578;
                padding: 0 0 clamp(0.1rem, calc(0.1rem + 3vw), 10rem) clamp(0.1rem, calc(0.1rem + 2vw), 8rem);

                &:hover {
                    opacity: 0.3;
                    background-color: #fff;
                }

                &:hover .gridText {
                    color: $clr-black
                }
            }
            
            &__theGrid {
                background-image: $img-thegrid-desktop;
                grid-area: d;
                aspect-ratio: 1 / 1.7578;
                padding: 0 0 clamp(0.1rem, calc(0.1rem + 3vw), 10rem) clamp(0.1rem, calc(0.1rem + 2vw), 8rem);

                &:hover {
                    opacity: 0.3;
                    background-color: #fff;
                }

                &:hover .gridText {
                    color: $clr-black
                }
            }    
    
            &__fromUpAboveVr {
                background-image: $img-fromupabovevr-desktop;
                grid-area: e;
                aspect-ratio: 1 / 1.7578;
                padding: 0 0 clamp(0.1rem, calc(0.1rem + 3vw), 10rem) clamp(0.1rem, calc(0.1rem + 2vw), 8rem);

                &:hover {
                    opacity: 0.3;
                    background-color: #fff;
                }
            }    
                
            &__pocketBorealis {
                background-image: $img-pocketborealis-desktop;
                grid-area: f;
                aspect-ratio: 1 / 1.7578;
                padding: 0 0 clamp(0.1rem, calc(0.1rem + 3vw), 10rem) clamp(0.1rem, calc(0.1rem + 2vw), 8rem);

                &:hover {
                    opacity: 0.3;
                    background-color: #fff;
                }
            }    
                
            &__theCuriosity {
                background-image: $img-thecuriosity-desktop;
                grid-area: v;
                aspect-ratio: 1 / 1.7578;
                padding: 0 0 clamp(0.1rem, calc(0.1rem + 3vw), 10rem) clamp(0.1rem, calc(0.1rem + 2vw), 8rem);

                &:hover {
                    opacity: 0.3;
                    background-color: #fff;
                }

                &:hover .gridText {
                    color: $clr-black
                }
            }    
                
            &__makeItFisheye {
                background-image: $img-makeitfisheye-desktop;
                grid-area: n;
                aspect-ratio: 1 / 1.7578;   
                padding: 0 0 clamp(0.1rem, calc(0.1rem + 3vw), 10rem) clamp(0.1rem, calc(0.1rem + 2vw), 8rem);

                &:hover {
                    opacity: 0.3;
                    background-color: #fff;
                }

                &:hover .gridText {
                    color: $clr-black
                }
            }
            
            .gridText {
                font-size: clamp(1rem, calc(1rem + 2vw), 7rem);
            }
        }   
    }
    
}


footer {
    padding: 3rem 1.7rem 3.5rem 1.7rem;
}

@media screen and (min-width: 900px) {
    footer {
        display: flex;
        flex-direction: row;
        padding: 3rem clamp(0.1rem, calc(0.1rem + 5vw), 8rem);
    }
}

.footer {
    background: $clr-black;

    #{&}__nav {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 1.7rem;
        font-family: $ff-alata;
        margin-bottom: 3rem;

        .navLinks {
            text-align: center;

            .linksText {
                margin-bottom: 1rem;
            }

            a {
                text-decoration: none;
                color: $clr-white;
            }

            @media screen and (min-width: 900px) {
                .linksText {
                    margin-bottom: 0;
                }
            }
        }

        @media screen and (min-width: 900px) {
            .navLogo {
                align-self: flex-start;
            }

            .navLinks {
                display: flex;
                flex-direction: row;
                column-gap: 2rem;
                font-size: clamp(0.2rem, calc(0.3rem + 1vw), 1.7rem);
                
                li {
                    margin: 0;

                    &::after {
                        content: '';
                        width: 40%;
                        height: 0.1rem;
                        display: block;
                        transition: 0.5s;
                        margin: auto;
                        margin-top: 0.3rem;
                    }
                    
                    &:hover::after {
                        background-color: $clr-white;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 900px) {
        #{&}__nav {
            display: flex;
            flex-direction: column;
            row-gap: 1.7rem;
            font-family: $ff-alata;
            margin-bottom: 0;
        }
    }

    #{&}__icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.1rem;
        font-family: $ff-alata;
        font-size: clamp(0.6rem ,calc(0.6rem + 1vw), 1.5rem);
        color: $clr-gray;

        .smLinks {
            display: flex;
            align-items: center;
            column-gap: 1rem;
        }
    }

    @media screen and (min-width: 900px) {
        .footer__icons {
            margin-left: auto;
            row-gap: 2.1rem;
            font-size: clamp(0.1rem, calc(0.1rem + 1vw), 1.7rem);

            .smLinks {

                &__icons::after {
                    content: '';
                    width: 100%;
                    height: 0.1rem;
                    display: block;
                    transition: 0.5s;
                    margin: auto;
                    margin-top: 0.3rem;
                }
                
                &__icons:hover::after {
                    background-color: $clr-white;
                }
            }
        }
    }
}

